.img-group {
      @include for-desktop-up {
        @include flex-box(row, center, flex-start);
      }
      @include flex-box(column-reverse);
      &__group {
        @include for-desktop-up {
          @include flex-box(column);
          width: 15%;
        }
        width: 100%;
        @include flex-box(row, space-between);
        &__item {
          & img {
            width: 100%;
          }
          width: 10rem;
          @include for-desktop-up {
            width: 7rem;
            margin-bottom: 1rem;
          }
        }
      }
      &__main {
        width: 100%;
        position: relative;
        img {
          width: 100%;
        }
      }
}